html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: #fff;
  display: inline;
  line-height: 1.4;
}

p {
  font-size: 2rem;
  font-style: italic;
  max-width: 50em;
}

.banner-content {
  max-height: 500px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 1em 0 3em;
}

.banner {
  position: relative;
}

body {
  max-height: 500px;
  margin: 0;
}
