*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  max-height: 500px;
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: #fff;
  display: inline;
  line-height: 1.4;
}

p {
  font-size: 2rem;
  font-style: italic;
  max-width: 50em;
}

.banner {
  position: relative;
  bottom: 0;
  max-height: 700px;
}

.banner-content {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  padding-top: .5rem;
  padding-left: 1.25rem;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 50em;
}
